# ============================================================
# CODEOWNERS - https://github.com/InternationalColorConsortium
# ============================================================
#
# Updated 2026-05-16 07:12:03 UTC by David Hoyt @xsscx
# Intent: Governance, Transparency, Best Practice
# Last Modification: Testing Branch Rules & Notification
# Note: These are temporary changes to permit testing
# ============================================================

.github/** @xsscx
Build/** @xsscx
Tools/Winnt/IccIisIsapi/** @xsscx

# Test Ownership of Tool Project
IccJSON/** @maxderhak

# Test Ownership of Library Code
IccConnect/** @maxderhak

# Test Ownership of Library Code
IccProfLib/** @ChrisCoxArt @colourbill-ctrl @maxderhak

# Test Ownership of Library Code
IccXML/** @ChrisCoxArt @colourbill-ctrl @maxderhak

# Test Ownership of a Tool Project
Tools/CmdLine/IccProfileVisualize/** @ChrisCoxArt

# Protect the CODEOWNERS file itself
.github/CODEOWNERS @maxderhak @dwtza @colourbill-ctrl @ChrisCoxArt @xsscx

# Governance: protect CODEOWNERS and key security/docs
SECURITY.md @maxderhak @dwtza @colourbill-ctrl @ChrisCoxArt @xsscx
README.md @maxderhak @dwtza
