# ============================================================
# CODEOWNERS — https://github.com/InternationalColorConsortium
# ============================================================
#
# Updated 04-DEC-2025 1800Z by David Hoyt @xsscx
# Intent: Governance, Transparency, Best Practice
# ============================================================

* @xsscx

# GitHub Actions workflows & PR automation
.github/** @xsscx @dwtza

# Build system logic
Build/** @xsscx @ChrisCoxArt

# Protect the CODEOWNERS file itself
.github/CODEOWNERS @xsscx @dwtza                

# Governance: protect CODEOWNERS and key security/docs
SECURITY.md docs/** @InternationalColorConsortium/iccdev-team
README.md docs/** @InternationalColorConsortium/iccdev-team
docs/** docs/** @InternationalColorConsortium/iccdev-team
